.product-display{
  position: relative;
  display:flex;
  justify-content: center;
  justify-items: column;
}

.product-container{
  background-color: #d34735;
  width: 300px;
  margin: 20px;
}

.product-image{
  width: 100px;
}

